.green{
	border: 5px;
	border-color: green; 
	border-style: dashed;
	background-color: white;
	padding: 5px;
	margin-top: 10px;
	margin-left: 10%;
	margin-right: 10%;
}
.red{
	border: 1px red dashed;
	color: red;
	padding: 5px;
	margin-top: 10px;
	margin-left: 10%;
	margin-right: 10%;
}
.yellow{
	border: 1px yellow dashed;
	padding: 5px;
	margin-top: 10px;
	margin-left: 10%;
	margin-right: 10%;
}
.blue{
	border: 1px blue dashed;
	background-color: #E8FBFB;
	padding: 5px;
	margin-top: 10px;
	margin-left: 10%;
	margin-right: 10%;
}
.purple{
	border: 1px purple dashed;
	padding: 5px;
	margin-top: 10px;
	margin-left: 10%;
	margin-right: 10%;
}
